div.addTransaction {
  width: 550px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;  
  background-color: rgba(255,255,255, .95);
  border: 2px solid gray;
  border-radius: 10px;

  h2 {
    font-size: 1.7rem;
    margin: 10px 0 15px 0;
    align-self: center;
  }

  .form {      
    font-size: 0.9rem;

    .inputForm {
      display: flex;
      justify-content: flex-start;
      margin-right: 50px;
      font-size: 1.2rem;

      label {
        margin: 0 10px 0 25px;
      }

      .inputName {
        width: 400px;        
      }

      .inputAmount {
        width: 120px;        
      }

      input {
        margin-top: 5px;
        font-size: 1rem;
      }
    }    
  }

  button.add {
    align-self: center;
    margin: 15px 0;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 600;    
    background-color: rgba(0,0,0,0.8);
    color: white;    
    letter-spacing: 1px;    
  }
}
