div.totalTransaction {
  width: 95%;
  margin: 40px auto;
  border-top: 2px solid white; 

  p.totalName {   
    display: flex;
    justify-content: space-around;    
    margin: 10px 300px 10px 70%;
    font-size: 1.5rem;
    color: white;
  }

  span.totalValue{
    margin-left: 15px;    
  }
}
